.App {
  text-align: center;
}

.book-card{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.pic{
  object-fit: cover;
}

.btn{
  display: flex;
  justify-content: space-between;
}

.book-info{
  display: flex;
  justify-content: center;
}

.name-rating{
  display: flex;
  justify-content: space-between;
}

.add-book{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 20px;
  padding: 50px;
}